<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="right">
            <button pButton pRipple label="Criar novo Estabelecimento" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        </ng-template>

        <ng-template pTemplate="left">
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="estabelecimentos" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
        [(selection)]="selectedEstabelecimentos" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Exibindo {first} de {totalRecords}" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="pesquisar($event.target)" placeholder="Pesquisar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                <th pSortableColumn="endereco">Endereco <p-sortIcon field="endereco"></p-sortIcon></th>
                <th pSortableColumn="telefone">Telefone <p-sortIcon field="telefone"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-estabelecimento>
            <tr>
                <td>{{estabelecimento.id}}</td>
                <td>{{estabelecimento.nome}}</td>
                <td>{{estabelecimento.endereco}}</td>
                <td>{{estabelecimento.telefone}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editEstabelecimento(estabelecimento)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteEstabelecimento(estabelecimento)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Existem no total {{estabelecimentos ? estabelecimentos.length : 0 }} estabelecimentos.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="estabelecimentoDialog" [style]="{width: '450px'}" header="Cadastro de Estabelecimento" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
          <label for="id">ID</label>
          <input type="text" pInputText id="id" [(ngModel)]="estabelecimento.id" autofocus disabled/>
        </div>
        <div class="p-field">
            <label for="nome">Nome</label>
            <input type="text" pInputText id="nome" [(ngModel)]="estabelecimento.nome" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !estabelecimento.nome">Nome é Obrigatório!.</small>
        </div>
        <div class="p-field">
          <label for="endereco">Endereco</label>
          <input type="text" pInputText id="endereco" [(ngModel)]="estabelecimento.endereco" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !estabelecimento.endereco">Endereco é Obrigatório!.</small>
        </div>
        <div class="p-field">
          <label for="telefone">Telefone</label>
          <input type="text" pInputText id="telefone" mask="(00) 00000-0000" [(ngModel)]="estabelecimento.telefone" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !estabelecimento.telefone">Telefone é Obrigatório!.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="addEstabelecimento()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
